<!DOCTYPE html>
<html lang="es-CL">
  <head>
    <title>Insuconfex</title>
    {% load static %}
    <link rel="stylesheet icon" href="{% static 'img/cora-ico.png' %}">
    <meta property="og:title" content="Insuconfex Online Store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Jost;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0.02;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    {%load static %}
    <div>
      {%load static %}
      <link rel="stylesheet" href="{% static 'css/home.css' %}">

      <div class="home-container">
        <div class="home-navbar">
          <header data-role="Header" class="home-header max-width-container">
            <div class="home-navbar1">
              <div class="home-container01">
                <img
                  alt=""
                  src="{% static 'img/lupa.png' %}"
                  class="home-image"
                />
                <input
                  type="text"
                  placeholder="search"
                  class="home-textinput input"
                />
              </div>
              <div class="home-middle">
                <span class="navbar-logo-title" src="#">INSUCONFEX</span>
                <div class="home-right">
                  <a class="navbar-link" href="{% url 'home' %}">INICIO</span>
                    <a class="navbar-link" href="{% url 'pagina_1' %}">PRODUCTOS</span>
                  <a class="navbar-link" href="{% url 'quienes_somos' %}">ACERCA DE</span>
                  <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#">CUENTA</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'login' %}">INICIAR SESION</a>
                      <a class="dropdown-item" href="{% url 'registro' %}">REGISTRATE</a>
                    </div>
                  </li>
                </div>
              </div>
            </div>


            <div data-role="BurgerMenu" class="home-burger-menu">
              <svg viewBox="0 0 1024 1024" class="home-icon">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </div>
            <div data-role="MobileMenu" class="home-mobile-menu">
              <div class="home-nav">
                <div class="home-container02">
                  <span class="home-logo-center1">Insuconfex</span>
                  <div
                    data-role="CloseMobileMenu"
                    class="home-close-mobile-menu"
                  >
                    <svg viewBox="0 0 1024 1024" class="home-icon02">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="home-middle1">
                  <span class="home-text06">SHOP</span>
                  <span class="home-text07">LOOKBOOK</span>
                  <span class="home-text08">SPECIAL</span>
                  <span class="home-text09">ABOUT</span>
                  <span class="home-text10">BLOG</span>
                  <span class="home-text11">CONTACT</span>
                </div>
              </div>
            </div>

          </header>
        </div>



        
    <div class="home-main">
        
        <div class="section-container column">
          <div class="max-width-container">
            <div class="section-heading-section-heading">
              <h1 class="section-heading-text Heading-2">
                <span>COMPRA POR CATEGORIAS</span>
              </h1>
              <span class="section-heading-text1 ">
                <span>
                  Comienza a comprar basado en categorias que te interesen
                </span>
                <br>
              </span>
              <br>
            </div>


            <div class="home-cards-container">
              <div class="category-card-category-card">
                <a class="category-card-text"><a href="{% url 'desinfectantes' %}">
                <img
                  alt="image"
                  src="{% static 'img/Alcohol-desinfectante.jpg'%}"
                  class="category-card-image"
                /></a>
                Desinfectantes</a>
              </div>
              <div class="category-card-category-card">
                <a class="category-card-text"><a href="{% url 'material_quirurgico' %}">
                <img
                  alt="image"
                  src="{% static 'img/pinza.png' %}"
                  class="category-card-image"
                /></a>
                Material Quirúrgico</a>
              </div>
              <div class="category-card-category-card">
                <a class="category-card-text" ><a href="{% url 'via_venosa' %}">
                <img
                  alt="image"
                  src="{% static 'img/Aguja-Mariposa.jpg' %}"
                  class="category-card-image"
                /></a>
                Vía venosa</a>
              </div>
              <div class="category-card-category-card">
                <a class="category-card-text" ><a href="{% url 'via_aerea' %}">
                <img
                  alt="image"
                  src="{% static 'img/canulas-orofaringeas.jpg' %}"
                  class="category-card-image"
                /></a>
                Vía Aérea</a>
              </div>
              <div class="category-card-category-card">
                <a class="category-card-text" ><a href="{% url 'tratamiento_heridas' %}">
                <img
                  alt="image"
                  src="{% static 'img/gasa-no-tejida.jpg' %}"
                  class="category-card-image"
                /></a>
                Tratamiento de heridas</a>
              </div>
              <div class="category-card-category-card" >
                <a class="category-card-text "><a href="{% url 'guantes' %}">
                <img
                  alt="image"
                  src="{% static 'img/guantes-nitrilo.jpg' %}"
                  class="category-card-image" 
                /></a>
                Guantes</a>
              </div>
            </div>


          </div>
          <div class="home-banner">
            <div class="home-container05">
              <h3 class="home-text19 Heading-3">INSUCONFEX</h3>
              <span class="home-text20">
                <span></span>
                <span>Tus mejores insumos medicos</span>
              </span>
            </div>
          </div>
          
        </div>
        <div class="section-container">
          <div class="max-width-container">
            <div
              class="section-heading-section-heading section-heading-root-class-name"
            >
              <h1 class="section-heading-text Heading-2">
                <span>¡Nuestro catálogo de Guantes!</span>
              </h1>
              <br>
              <br>
            </div>
            <div class="home-container08">

              <div
                class="blog-post-card-blog-post-card blog-post-card-root-class-name"
              >
                <img
                  alt="image"
                  src="{% static 'img/guantes-nitrilo.jpg ' %}"
                  class="blog-post-card-image"
                />
                <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Guantes de Nitrilo talla XS</span>
                  </span>
                  <span class="blog-post-card-text1">
                    <span>
                    Guante de Nitrilo XS caja 100 unidades color Azul
                    </span>
                  </span>
                  <a
                    href=""
                    target="_blank"
                    rel="noreferrer noopener"
                    class="button"
                  >
                    Más información
                  </a>
                </div>
              </div>
              <div class="blog-post-card-blog-post-card">
                <img
                  alt="image"
                  src= "{% static 'img/guantes-nitrilo.jpg ' %}"
                  class="blog-post-card-image"
                />
                <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Guantes de Nitrilo talla S</span>
                  </span>
                  <span class="blog-post-card-text1">
                    <span>
                    Guante de Nitrilo S caja 100 unidades color Azul
                    </span>
                  </span>
                  <a
                    href=""
                    target="_blank"
                    rel="noreferrer noopener"
                    class="button"
                  >
                  Más información
                  </a>
                </div>
              </div>
              <div class="blog-post-card-blog-post-card">
                <img
                  alt="image"
                  src="{% static 'img/guantes-nitrilo.jpg ' %}"
                  class="blog-post-card-image"
                />
                <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Guantes de Nitrilo talla M</span>
                  </span>
                  <span class="blog-post-card-text1">
                    <span>
                    Guante de Nitrilo M caja 100 unidades color Azul
                    </span>
                  </span>
                  <a
                    href=""
                    target="_blank"
                    rel="noreferrer noopener"
                    class="button"
                  >
                  Más información
                  </a>



                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="home-container08">

              <div
                class="blog-post-card-blog-post-card blog-post-card-root-class-name"
              >
                <img
                  alt="image"
                  src="{% static 'img/guantes-nitrilo.jpg ' %}"
                  class="blog-post-card-image"
                />
                <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Guantes de Nitrilo talla L</span>
                  </span>
                  <span class="blog-post-card-text1">
                    <span>
                    Guante de Nitrilo L caja 100 unidades color Azul
                    </span>
                  </span>
                  <a
                    href=""
                    target="_blank"
                    rel="noreferrer noopener"
                    class="button"
                  >
                    Más información
                  </a>
                </div>
              </div>
              <div class="blog-post-card-blog-post-card">
                <img
                  alt="image"
                  src= "{% static 'img/guantes-nitrilo.jpg ' %}"
                  class="blog-post-card-image"
                />
                <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Guantes de Nitrilo talla L</span>
                  </span>
                  <span class="blog-post-card-text1">
                    <span>
                    Guante de Nitrilo L caja 100 unidades color Azul
                    </span>
                  </span>
                  <a
                    href=""
                    target="_blank"
                    rel="noreferrer noopener"
                    class="button"
                  >
                  Más información
                  </a>
                </div>
              </div>

              <div class="blog-post-card-blog-post-card">
                <div class="blog-post-card-container"></div>
              </div>

            </div>
            <br>
            <br>
            <div>
              <a class="button" href="{% url 'pagina_1' %}">Volver al catálogo</a>
            </div>

          </div>
        </div>
      </div>

      
        
        

        <br>
        <div class="home-footer">
          <div class="max-width-container">
            <footer class="home-footer1">
              <div class="home-container09">
                <h3 class="home-text2 Heading-3">Insuconfex</h3>
              </div>
              <div class="col-lg-2">
                <img src="{% static 'img/cora-ico.png' %}" alt="logoinsucon" width="30px"> <!--CRISTIAN: LOGO DE INSUCONFEX -->
            </div>
              <div class="home-links-container">
                <div class="home-container10">
                  <span class="home-text2">Acerca De</span>
                  <span class="home-text1">información Empresa</span>
                  <span class="home-text1">Información Productos</span>
                  <span class="home-text1">Información Proveedores</span>
                </div>
                <div class="home-container10">
                  <span class="home-text2">Cuenta</span>
                  <a class="home-text1" href="{% url 'login' %}">Início de sesión</a>
                  <a class="home-text1" href="{% url 'registro' %}" >Registrarse</a>

                </div>
                <div class="home-container10">
                  <span class="home-text2">Contacto</span>
                  <span class="home-text1">(671) 555-0110</span>
                  <span class="home-text1">contact@Insuconfex.com</span>
                  <span class="home-text1">1234 Calle Falsa. La Pintana, Santiago, RM</span>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
    
