#color{
    background-color: rgb(41, 41, 255);
 
}
.navbar-collapse{
    background-color: rgb(8, 115, 255);
}

#titulos{
    text-align: center;
    color: rgb(255, 255, 255);
}


#formulariologin{
    background-color: rgb(72, 72, 139);
    width:500; 
}



