<!DOCTYPE html>
<html lang="es-CL">
  <head>
    <title>Catalogo - Insuconfex</title>
    {% load static %}
    <link rel="stylesheet icon" href="{% static 'img/cora-ico.png' %}">
    <meta property="og:title" content="Insuconfex Online Store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Jost;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0.02;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <style>
      .card {
        max-width: 100px; /* Ajusta el ancho máximo de la tarjeta */
      }
    
      
    
      .card-title {
        font-size: 18px; /* Ajusta el tamaño de fuente del título */
      }
    
      .card-text {
        font-size: 14px; /* Ajusta el tamaño de fuente del texto */
      }
    
      .card-price {
        font-size: 16px; /* Ajusta el tamaño de fuente del precio */
      }
    </style>

    
  </head>
  <body>
    {%load static %}
    <div>
      {%load static %}
      <link rel="stylesheet" href="{% static 'css/home.css' %}">

      <div class="home-container">
        <div class="home-navbar">
          <header data-role="Header" class="home-header max-width-container">
            <div class="home-navbar1">
              <div class="home-container01">
                <img
                  alt=""
                  src="{% static 'img/lupa.png' %}"
                  class="home-image"
                />
                <form method="POST">
                  {% csrf_token %}
                <input type="text" placeholder="search" class="home-textinput input" id="buscador" name="buscador"/>
              </form>
              </div>
              <div class="home-middle">
                <a class="navbar-logo-title" src="#" href="{% url 'home' %}">INSUCONFEX</a>
                <div class="home-right">
                  <a class="navbar-link" href="{% url 'pagina_1' %}">PRODUCTOS</span>
                  <a class="navbar-link" href="{% url 'quienes_somos' %}">NOSOTROS</span>
                  {% if user.is_authenticated %}
                    <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#">Bienvenid@ {{user.username}}</a>
                    {% if user.is_superuser %}
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'administrador' %}">PANEL DE CONTROL</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">CERRAR SESION</a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'cuenta' %}">MI CUENTA</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">CERRAR SESION</a>
                    </div>
                    {% endif %}
                  {% else %}
                    <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#">CUENTA</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'login' %}">INICIAR SESION</a>
                      <a class="dropdown-item" href="{% url 'registro' %}">REGISTRATE</a>
                    </div>
                  {% endif %}  
                </div> 
              </div>
            </div>
              <div class="home-icons ml-5">
                <a href="{% url 'carrito' %}">
                  <img
                    alt="iconsbxscart3271299"
                    src="{% static 'img/icons8-shopping-cart-32.png' %}"
                    class="home-image1"
                  />
                </a>  
              </div>
            
            <div data-role="BurgerMenu" class="home-burger-menu">
              <svg viewBox="0 0 1024 1024" class="home-icon">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </div>
            <div data-role="MobileMenu" class="home-mobile-menu">
              <div class="home-nav">
                <div class="home-container02">
                  <a class="home-logo-center1" href="{% url 'home' %}">Insuconfex</a>
                  <div
                    data-role="CloseMobileMenu"
                    class="home-close-mobile-menu"
                  >
                    <svg viewBox="0 0 1024 1024" class="home-icon02">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="home-middle1">
                  <a class="home-text01" href="{% url 'pagina_1' %}">PRODUCTOS</a>
                  <a class="home-text02" href="{% url 'quienes_somos' %}" >NOSOTROS</a>
                  {% if user.is_authenticated %}
                    <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#">Bienvenid@ {{user.username}}</a>
                    {% if user.is_superuser %}
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'administrador' %}">PANEL DE CONTROL</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">CERRAR SESION</a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'cuenta' %}">MI CUENTA</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">CERRAR SESION</a>
                    </div>
                    {% endif %}
                  {% else %}
                    <a class="navbar-link dropdown-toggle" data-toggle="dropdown" href="#">CUENTA</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'login' %}">INICIAR SESION</a>
                      <a class="dropdown-item" href="{% url 'registro' %}">REGISTRATE</a>
                    </div>
                  {% endif %} 

                  
                  
                </div>
              </div>
            </div>

          </header>
        </div>



        
    <div class="home-main">
        
        <div class="section-container column">

          <div class="home-banner">
            <div class="home-container05">
              <h3 class="home-text19 Heading-3">INSUCONFEX</h3>
              <span class="home-text20">
                <span></span>
                <span>Tus mejores insumos medicos</span>
              </span>
            </div>
          </div>


<br><br>




          <div class="max-width-container my-4">
            <div class="section-heading-section-heading">
              <h1 class="section-heading-text Heading-2">
                <span>NUESTROS PRODUCTOS</span>
              </h1>
              <span class="section-heading-text1 ">
                <span>
                  Revisa nuestro catalogo de productos
                </span>

              </span>
             
            </div>


  






            

            
          
          
        </div>

        <br><br>

        


        <div class="row">
          {% for p in entity %}
            <div class="col-md-4">
              <div class="home-cards-container category-card-category-card">
                <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}" class="card-img-top" height="500">
                <div class="card-body my-5 mx-5 ">
                  <h5 class="card-title text-center">{{ p.nombre }}</h5>
                  <p class="card-text text-center">{{ p.descripcion }}</p>
                  <p class="card-price text-center my-2">Precio: ${{ p.precio }}</p>
                  <p class="card-price text-center my-2">Stock: {{ p.stock }}</p>
                  
                  {% if p.stock > 0 %}
                    <form action="{% url 'Add' p.id %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" name="cantidad" class="form-control" min="1" max="{{ p.stock }}">
                      </div>
                      <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                    </form>
                  {% else %}
                    <button class="btn btn-primary" disabled>Agregar al carrito</button>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <br>
        <br>
        
        {% if paginator.num_pages > 1%}
        <div class="d-flex justify-content-center">
          <ul class="pagination">
            {% if entity.has_previous %}
              <li class="page-item d-none d-sm-block">
                <a class="page-link" href="?page={{ entity.previous_page_number }}#pagtable">Anterior</a>
              </li>
            {% endif %}
            {% for page in paginator.page_range %}
              {% if forloop.last and page != entity.number and paginator.num_pages > 7 %}
                {% if entity.next_page_number != paginator.num_pages %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ entity.number | add:1}}#pagtable">...</a>
                  </li>
                {% endif %}
                <li class="page-item">
                  <a class="page-link" href="?page={{paginator.num_pages}}#pagtable">{{paginator.num_pages}}</a>
                </li>
              {% endif %}
              {% if page == entity.number and page > 7 %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page | add:-1 }}#pagtable">...</a>
                </li>
              {% endif %}
              {% if page < 7 or page == entity.number %}
                <li class="page-item {% if page == entity.number %}active{% endif %}">
                  <a class="page-link" href="?page={{ page }}#pagtable">{{ page }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if entity.has_next %}
              <li class="page-item d-none d-sm-block">
                <a class="page-link" href="?page={{ entity.next_page_number }}#pagtable">Siguiente</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="d-flex justify-content-center d-sm-none">            
          {% if entity.has_previous %}
            <span class="page-item"><a class="page-link" href="?page={{ entity.previous_page_number }}#pagtable">Anterior</a></span>
          {% endif %}
          {% if entity.has_next %}
            <span class="page-item"><a class="page-link" href="?page={{ entity.next_page_number }}#pagtable">Siguiente</a></span>
          {% endif %}
          <br>
          <br>
        </div>
        {% endif %}
      </div>
    </div>
        
        

        <br>
        <div class="home-footer">
          <div class="max-width-container">
            <footer class="home-footer1">
              <div class="home-container09">
                <h3 class="home-text2 Heading-3">Insuconfex</h3>
              </div>
              <div class="col-lg-2">
                <img src="{% static 'img/cora-ico.png' %}" alt="logoinsucon" width="30px"> <!--CRISTIAN: LOGO DE INSUCONFEX -->
            </div>
              <div class="home-links-container">
                <div class="home-container10">
                  <span class="home-text2">Acerca De</span>
                  <a class="home-text1" href="{% url 'quienes_somos' %}">información Empresa</a>
                  <a class="home-text1" href="{% url 'quienes_somos' %}">Información Productos</a>
                  <a class="home-text1" href="{% url 'quienes_somos' %}">Información Proveedores</a>
                </div>
                <div class="home-container10">
                  <span class="home-text2">Cuenta</span>
                  <a class="home-text1" href="{% url 'login' %}">Início de sesión</a>
                  <a class="home-text1" href="{% url 'registro' %}" >Registrarse</a>

                </div>
                <div class="home-container10">
                  <span class="home-text2">Contacto</span>
                  <span class="home-text1">(671) 555-0110</span>
                  <span class="home-text1">contact@Insuconfex.com</span>
                  <span class="home-text1">1234 Calle Falsa. La Pintana, Santiago, RM</span>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
  </body>
</html>
    
